h1, p, li {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
}
h1 {
    border: 2px;
    background-color: #16599b;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-self: center;
    width: 1000px;
    margin: auto;
}
p {
    font-size: 25px;
    align-self: center;
    text-align: center;
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 5px 8px 5px;
}
li {
    font-size: 15px;
    text-align: center;
    list-style-type: none;
    border: 2px;
    margin: auto;
    padding-top: 5px;
    padding-bottom:5px;
    width: 1000px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-self: center;
}
body {
    min-width: 1280px;
    width: 100%;
    min-height: 720px;
    height: 100%;
    overflow-x: hidden;
    background-color: #5296d9;
}
div {
    margin-right: 40px;
}
.first_list li {
    background-color: #815653;
}
.second_list li {
    background-color: darkolivegreen;
}
.third_list li {
    background-color: firebrick;
}
.fourth_list li {
    background-color: rgb(15, 88, 72);
}