h1, p, a.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    text-align: center;
    color: azure;
    margin: auto;
}
h1 {
    border-radius: 12px;
    font-size: 25px;
    max-width: 63%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 0px 8px 0px;
}
h1#header {
    background-color: #16599b;
    border-radius: 15px;
    font-size: 2em;
    max-width: 51%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-self: center;
}
p {
    border-radius: 10px;
    font-size: 15px;
    max-width: 52%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 8px 5px 8px;
    text-align: left;
}
p:hover, a.button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all 0.35s;
}
body {
    margin: auto;
    background-color: #5296d9;
}
.helperButton {
    align-items: center;
    a.button {
        background-color: #16599b;
        border: none;
        border-radius: 13px;
        display: block;
        font-size: 20px;
        max-width: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 2px;
        text-decoration: none;
    }
    a.button:hover {
        background-color: #13477c;
    }
}

.dictContainer#words {
    h1, p {
        background-color: #815653;
    }
    p:hover {
        background-color: #684644;
    }
}

.dictContainer#goodPeoples {
    h1, p {
        background-color: darkolivegreen;
    }
    p:hover {
        background-color: rgb(70, 87, 40);
    }
}

.dictContainer#badPeoples {
    h1, p {
        background-color: firebrick;
    }
    p:hover {
        background-color: rgb(143, 33, 33);
    }
}
.dictContainer#gdpsOwners {
    h1, p {
        background-color: rgb(64, 51, 173);
    }
    p:hover {
        background-color: rgb(50, 40, 138);
    }
}
.dictContainer#dates {
    h1, p {
        background-color: rgb(15, 88, 72);
    }
    p:hover {
        background-color: rgb(12, 71, 59);
    }
}

